<div class="container">
  <h1>Sobre Mi</h1>
  <div class="section">
    <div class="biografia">
      <h3>
        Soy estudiante de Ingeniería de Sistemas de 9 semestre de la universidad
        Francisco de Paula Santander, desarrollador frontend junior,
        autodidáctico he adquirido algunos conocimientos por medio de
        plataformas de aprendizaje virtual como (Udemy, Platzi, sololearn y
        cursos de YouTube) me gusta aprender cosas nuevas y estar actualizado
        con los nuevos avances tecnológicos, lenguajes de programación y nuevas
        metodologías de trabajo. Soy una persona responsable y puntual, me
        gustan los retos.
      </h3>
    </div>
    <div class="gif">
      <img src="../../../assets/imagens/sobreMi.gif" alt="" />
    </div>
  </div>
</div>
