<div class="containerl">
  <div class="logo">
    <img src="../../../assets/imagens/logoNdrm.png" alt="" />
  </div>
  <div class="pages">
    <div class="page">
      <a routerLink="/niver/inicio" routerLinkActive="active">Inicio</a>
    </div>
    <div class="page">
      <a routerLink="/niver/tecnologia" routerLinkActive="active"
        >Tecnologias</a
      >
    </div>
    <div class="page">
      <a routerLink="/niver/experiencia" routerLinkActive="active"
        >Experiencias</a
      >
    </div>
    <div class="page">
      <a routerLink="/niver/proyectos" routerLinkActive="active">Proyectos</a>
    </div>
    <div class="page">
      <a routerLink="/niver/contacto" routerLinkActive="active">Contacto</a>
    </div>
  </div>
  <div class="login">
    <i class="fas fa-search"></i>
  </div>
</div>
