<div class="container">
  <div class="gif animate__animated animate__fadeIn">
    <img src="../../../assets/imagens/Tecnologia.gif" alt="" />
  </div>
  <div class="tecnologias animate__animated">
    <div class="tecnologia animate__animated animate__bounceInRight">
      <img src="../../../assets/imagens/html-5.svg" alt="" />
      <p>HTML5</p>
    </div>
    <div class="tecnologia animate__animated animate__bounceInRight">
      <img src="../../../assets/imagens/css-3.svg" alt="" />
      <p>CSS3</p>
    </div>
    <div class="tecnologia animate__animated animate__bounceInRight">
      <img src="../../../assets/imagens/angular-icon.svg" alt="" />
      <p>Angular</p>
    </div>
    <div class="tecnologia animate__animated animate__bounceInRight">
      <img src="../../../assets/imagens/javascript.svg" alt="" />
      <p>JavaScript</p>
    </div>
    <div class="tecnologia animate__animated animate__bounceInRight">
      <img src="../../../assets/imagens/postman-icon.svg" alt="" />
      <p>Postman</p>
    </div>
    <div class="tecnologia animate__animated animate__bounceInRight">
      <img src="../../../assets/imagens/mongodb.svg" alt="" />
      <p>MongoDB</p>
    </div>
    <div class="tecnologia animate__animated animate__bounceInRight">
      <img src="../../../assets/imagens/mysql.svg" alt="" />
      <p>MySQL</p>
    </div>
    <div class="tecnologia animate__animated animate__bounceInRight">
      <img src="../../../assets/imagens/figma.svg" alt="" />
      <p>Figma</p>
    </div>
    <div class="tecnologia animate__animated animate__bounceInRight">
      <img src="../../../assets/imagens/github-icon.svg  " alt="" />
      <p>GitHub</p>
    </div>
    <div class="tecnologia animate__animated animate__bounceInRight">
      <img src="../../../assets/imagens/nodejs.svg" alt="" />
      <p>Node.js</p>
    </div>
    <div class="tecnologia animate__animated animate__bounceInRight">
      <img src="../../../assets/imagens/jwt-icon.svg" alt="" />
      <p>Json Web Tokens</p>
    </div>
    <!-- <div class="tecnologia">
      <img src="../../../assets/imagens/javascript.svg" alt="" />
    </div> -->
  </div>
</div>
