<div class="col-sm-12">
  <div
    class="statistics-details d-flex align-items-center justify-content-between"
  >
    <div>
      <p class="statistics-title">#Proyectos</p>
      <h3 class="rate-percentage text-center">10</h3>
    </div>
    <div>
      <p class="statistics-title">Certificados</p>
      <h3 class="rate-percentage text-center">5</h3>
    </div>
    <div>
      <p class="statistics-title">Lenguajes y tecnologias</p>
      <h3 class="rate-percentage text-center">10</h3>
    </div>
    <div class="d-none d-md-block">
      <p class="statistics-title">Experiencias</p>
      <h3 class="rate-percentage text-center">1</h3>
    </div>
  </div>
</div>

<div class="row flex-grow">
  <div class="col-12 grid-margin stretch-card">
    <div class="card card-rounded table-darkBGImg">
      <div class="card-body">
        <div class="col-sm-8">
          <h3 class="text-white upgrade-info mb-0">
            Bienvenido Niver Daniel Romero
          </h3>
          <span>Cargar, actulizar, modificar</span>
        </div>
      </div>
    </div>
  </div>
</div>
