<div class="container">
  <div class="title_service">
    <img src="../../../assets/imagens/serviceleft.png" alt="" />
    <h4>Servicios</h4>
    <img src="../../../assets/imagens/customer-service.png" alt="" />
  </div>
  <div class="items">
    <div class="item">
      <div class="service"><h3>Resposive</h3></div>
      <img src="../../../assets/imagens/resposive.png" alt="" />
    </div>
    <div class="item">
      <div class="service">
        <h3>
          Buenas <br />
          Practicas
        </h3>
      </div>
      <img src="../../../assets/imagens/best-practice.png" alt="" />
    </div>
    <div class="item">
      <div class="service">
        <h3>
          Codigo <br />
          Estructurado
        </h3>
      </div>
      <img src="../../../assets/imagens/coding.png" alt="" />
    </div>
  </div>
</div>
