<div class="card">
  <div class="cargo">
    <div class="item_cargo">
      <h4>Cargo:</h4>
      <p>Desarrollador Frontend</p>
    </div>
    <div class="item_periodo">
      <h4>Periodo:</h4>
      <p>Desde: 13 mayo 2021</p>
      <p>Hasta: 30 diciembre 2021</p>
    </div>
  </div>

  <div class="item">
    <h4>Empresa:</h4>
    <p>Universidad Francisco de Paula Santander</p>
  </div>
  <div class="item">
    <h4>Tiempo:</h4>
    <p>7 meses</p>
  </div>
  <div class="item_fucion">
    <h4>funcion:</h4>
    <p>
      Hice parte del equipo de desarrollo proyecto Sistema Alerta tempranas
      (SAT), tareas como( diseño, estructurado sematico, diseño adaptable a
      varios dispositivo )
    </p>
  </div>
</div>
