.container {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.logo {
  display: flex;
  justify-content: space-between;
}

.contenido {
  text-align: center;
}

h2 {
  font-size: 50px;
  margin: 10px;
  font-weight: 900;
}

h3 {
  margin: 16px;
}

img {
  width: 25%;
}

input {
  width: 150px;
  height: 150px;
  margin: 0px 2px;
  border: 3px solid var(--red-primary);
  text-align: center;
  font-size: 50px;
  color: var(--red-primary);
  border-radius: 10px;
}

input:focus {
  width: 170px;
  height: 170px;
}

.cerrar {
  width: 100%;
  text-align: right;
}

.logo i {
  font-size: 40px;
  padding: 20px;
  color: var(--red-primary);
  cursor: pointer;
}
