<div class="home">
  <div class="title">
    <h1>Niver Daniel Romero Manrique.<span>&nbsp;</span></h1>

    <p class="animate__animated animate__flipInX">
      Hola, soy desarrollador web, me gusta aprender cosas nuevas.
    </p>

    <button class="animate__animated animate__pulse" (click)="irSobreMi()">
      Sobre MÍ <i class="fas fa-chevron-right"></i>
    </button>
    <div class="redes">
      <i class="fab fa-linkedin-in"></i>
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-twitter"></i>
    </div>
  </div>

  <div class="tecnologia">
    <app-carousel></app-carousel>
  </div>
</div>
