<div class="card">
  <div class="foto">
    <img src="../../../assets/imagens/retoFrontend.png" alt="" />
    <div class="git">
      <a
        href="https://github.com/niverdrm/niverdrm-Pricing-component-with-toggle-ndr"
        >GitHub <i class="fas fa-arrow-left"></i
      ></a>
    </div>
    <h3>reto Frontend mentor</h3>
  </div>
  <div class="descripcion">
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur
      consequatur.
    </p>
    <h3>Tecnologias</h3>
    <div class="tecnologias">
      <i>html</i>
      <i>css</i>
      <i>javaScript</i>
      <i>grid</i>
    </div>
  </div>
  <div class="ver">
    <a
      href="https://niverdrm.github.io/niverdrm-Pricing-component-with-toggle-ndr/"
      >Ver</a
    >
  </div>
</div>
